{% extends 'farmaciaapp/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card card-custom border-top border-success border-5">
            <div class="card-body p-5">
                <div class="text-center mb-4">
                    <div class="bg-success text-white rounded-circle d-inline-flex p-3 mb-3">
                        <i class="bi bi-box-seam fs-2"></i>
                    </div>
                    <h3 class="fw-bold">Ingresar Nuevo Fármaco</h3>
                    <p class="text-muted small">Complete todos los datos requeridos para el stock.</p>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-custom-create btn-lg rounded-pill">
                            <i class="bi bi-check-circle me-2"></i> Guardar Medicamento
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}