{% extends 'farmaciaapp/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card card-custom border-danger text-center p-4">
            <div class="card-body">
                <i class="bi bi-x-octagon-fill text-danger display-1"></i>
                <h2 class="mt-4 fw-bold text-danger">¿Eliminar Registro?</h2>
                <p class="lead mt-3">Estás a punto de borrar <strong>{{ medicamento.nombre }}</strong> ({{ medicamento.laboratorio }}) de la base de datos.</p>
                <p class="text-muted small">Esta acción no se puede deshacer.</p>
                
                <form method="POST" class="mt-4 d-flex justify-content-center gap-3">
                    {% csrf_token %}
                    <a href="{% url 'listar_medicamentos' %}" class="btn btn-light btn-lg px-4 border">Cancelar</a>
                    <button type="submit" class="btn btn-danger btn-lg px-4 shadow">
                        Sí, Eliminar Definitivamente
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}