{% extends 'farmaciaapp/base.html' %}

{% block content %}
<div class="row align-items-center justify-content-center text-center mt-5">
    <div class="col-lg-8">
        <div class="card card-custom p-5 bg-white">
            <i class="bi bi-heart-pulse text-success display-1 mb-3"></i>
            <h1 class="fw-bold text-success">Sistema de Gestión Veiache</h1>
            <p class="lead text-muted mb-4">Administre el inventario, controle el stock y gestione los medicamentos registrados en la base de datos central de Farmacia Veiache.</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                <a href="{% url 'listar_medicamentos' %}" class="btn btn-outline-success btn-lg px-4 rounded-pill">
                    <i class="bi bi-list-ul"></i> Ver Inventario
                </a>
                <a href="{% url 'crear_medicamento' %}" class="btn btn-success btn-lg px-4 rounded-pill">
                    <i class="bi bi-plus-circle"></i> Registrar Fármaco
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}